@import 'base';

// Nav
nav {
	margin: 25px 0;
    font-size: 21px;
    li {
    	@include inline-block;
	    &:last-child {
	    	a {
	    		border-right: none;
	    	}
	    }
    }
    a {
		padding: 3px 30px;
		border-right: 1px dotted $font-color;
		@include transition(0.5s);
		&:hover {
			color: tint($active-color, 15%);
		}
    }
    h1 {
    	position: relative;
    	&:after {
			content: '';
			width: 170px;
			height: 1px;
			position: absolute;
			left: 30px;
			bottom: -10px;
			border-bottom: 1px dotted $font-color;
    	}
		a {
			color: $active-color;
		}
    }
}

// left sidebar
.left-sidebar {
	float: left;
	width: 180px;
	margin: 0 0 0 30px;
	text-align: left;
	min-height: 100px;
}

// right-content 
.right-content {
	float: left;
	width: 680px;
	position: relative;
	.main-image {
		min-width: 670px;
		min-height: 580px;
		img {
			border: 5px solid #404040;
			margin: 0 auto;
		}
	}
}

// home-content
.home-content {
	.right-content {
		text-align: center;
	}
}

// thanks-visit
.thanks-visit {
	margin: 15px 0 0 0;
	border-top: 1px dotted $font-color;
	text-align: right;
}

// about
.about-content {
	.text-about {
		position: absolute;
		padding: 30px;
		z-index: 1;
	}
	.main-image {
		@include opacity(0.3);
	}
}