@import 'base';

// Nav main
nav.main {
	margin: 25px 0;
    font-size: 21px;
    li {
    	@include inline-block;
	    &:last-child {
	    	a {
	    		border-right: none;
	    	}
	    }
    }
    a {
		padding: 3px 30px;
		border-right: 1px dotted $font-color;
		@include transition(0.5s);
		&:hover {
			color: tint($active-color, 15%);
		}
    }
    h1 {
    	position: relative;
    	&:after {
			content: '';
			width: 170px;
			height: 1px;
			position: absolute;
			left: 30px;
			bottom: -10px;
			border-bottom: 1px dotted $font-color;
    	}
		a {
			color: $active-color;
		}
    }
}

// fixed nav
nav.main.fixed {
	margin: 0;
	h1 {
		&:after {
			display:none;
		}
	}
	ul {
		background: #212121;
		padding: 20px 0 15px 0;
		position: fixed;
		z-index: 999;
		@include transition(0.3s);
		@include box-shadow(0 0 3px #000);
	}
}

// left sidebar
.left-sidebar {
	float: left;
	width: 180px;
	margin: 0 0 0 30px;
	text-align: left;
	min-height: 100px;
}

// right-content 
.right-content {
	float: left;
	width: 680px;
	position: relative;
	.main-image {
		img {
			border: 5px solid #404040;
			margin: 0 auto;
		}
	}
}

// home-content
.home-content {
	.right-content {
		text-align: center;
	}
	.main-image {
		min-width: 670px;
		min-height: 580px;
	}
}

// thanks-visit
.thanks-visit {
	margin: 25px 0 0 0;
	border-top: 1px dotted $font-color;
	text-align: right;
	min-height: 30px;
}

// about
.about-content {
	.text-about {
		position: absolute;
		padding: 30px;
		z-index: 1;
	}
	.main-image {
		min-width: 670px;
		min-height: 580px;
		@include opacity(0.3);
	}
}

// social-list
.social-list {
	&:hover {
		a {
			@include opacity(0.3);
		}
	}
	li {
		margin: 0 9px;
		@include inline-block;
		a {
			@include transition(0.3s);
			&:hover {
				@include opacity(1);
			}
		}
	}	
}

// navigation-left
nav.navigation-left {
	margin: 40px 0 0 0;
	font-size: 20px;
	li {
		clear: both;
		margin: 5px 0;
		ul {
			margin: 20px 0;
			a {
				color: #474747;
			}
		}
	}
	a {
		@include transition(0.3s);
		&.active, &:hover {
			color: $active-color;
		}
	}
}

// internal-content
.internal-content {
	.main-image {
		text-align: center;
		padding: 0 0 30px 0;
		min-width: 670px;
		min-height: 500px;
		box-sizing: border-box;
		@include background(image-url("loader.gif") no-repeat center center);
		div {
			position: absolute;
			background: red;
			z-index: 9999;
		}
	}
	.hold-nav {
		padding: 10px 0;
		font-size: 12px;
		.nav {
			float: left;
			font-size: 15px; 
			a {
				color: $active-color;
				@include transition(0.3s);
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.count {
			float: right;
		}
	}
	.job-description, .down {
		margin: 15px 0 0 0;
	}
	.tags, .share {
		font-size: 14px;
		float: left;
		li {
			@include inline-block;
			&.title {
				color: $active-color;
				margin: 0 10px 0 0;
			}
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.share {
		float: right;
		&:hover {
			a {
				@include opacity(0.3);
			}
		}
		a {
			@include transition(0.3s);
			&:hover {
				@include opacity(1);
			}
		}
	}
}

// most-popular
.most-popular {
	border-top: 1px dotted $font-color;
	padding: 10px 0;
	margin: 20px 0 0 0;
	color: #474747;
	@extend .font-bold;
	ul {
		margin: 15px 0 15px -13px;
	}
	li {
		width: 155px;
		height: 240px;
		position: relative;
		overflow: hidden;
		margin: 0 0 20px 15px;
		@include inline-block;
		&:hover {
			.overlay {
				@include opacity(0.8);
			}
			img {
				@include transform(scale(1.3));
				@include transition(10s);
			}
		}
		img {
			@include transition(1s);
			position: relative;
			z-index: 1;
		}
	}
	.overlay {
		z-index: 2;
		text-align: center;
		font-size: 20px;
		padding: 110px 10px 0 10px;
		width: 135px;
		height: 130px;
		@include opacity(0);
	}
}

// overlay
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	@include transition(0.5s);
	@include opacity(0.8);
}